<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youdaoxsj.backstage.information.mapper.DriverInformationMapper">

    <sql id="zbqsql">
      z.id,
      z.device,
      z.code,
      z.driver_name,
      z.mobile,
      z.district_id,
      z.online_time,
      z.init_time,
      z.advert_id,
      z.last_login_time,
      z.last_report_time,
      z.report_ip,
      z.record_time,
      z.status,
      z.car_number,
      z.bank_no,
      z.bank_name,
      z.longitude,
      z.latitude,
      z.driver_id,
      z.push_code
    </sql>


    <!--public int updateExtendInformation(@Param("e") ExtendInformation extendInformation);-->
    <update id="updateExtendInformation">
        update zbq_extend_information set
        <if test="#{e.deviceIccid} != null">
            device_iccid = #{e.deviceIccid},
            iccid_traffic = #{e.iccidTraffic},
            iccid_onLine = #{e.iccidOnLine},
            iccid_state = #{e.iccidState},
            iccid_limit = #{e.iccidLimit},
            iccid_activate = #{e.iccidActivate}
        </if>
        <if test="#{e.deviceNote} != null">
            ,device_note = #{e.deviceNote}
        </if>
        where device_id = #{e.deviceId}
    </update>

    <!--public Integer insertExtendInformation(ExtendInformation extendInformation)-->
    <insert id="insertExtendInformation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zbq_extend_information (device_id
        <if test="#{ei.deviceIccid} != null">
            ,device_iccid, iccid_traffic, iccid_onLine, iccid_state, iccid_limit,iccid_activate
        </if>
        <if test="#{ei.deviceNote} != null">
            ,device_note
        </if>
        )
        VALUES (
        #{ei.deviceId}
        <if test="#{ei.deviceIccid} != null">
            ,#{ei.deviceIccid},#{ei.iccidTraffic},#{ei.iccidOnLine},#{ei.iccidState},#{ei.iccidLimit},#{ei.iccidActivate}
        </if>
        <if test="#{ei.deviceNote} != null">
            ,#{ei.deviceNote}
        </if>
        )
    </insert>


    <!--public Device selectDevice(Integer id);-->
    <select id="selectDevice" resultType="com.youdaoxsj.backstage.information.bean.ZbqDevice"
            parameterType="java.lang.Integer">
        select *  from zbq_device z where id=#{id}
    </select>

    <!--public ExtendInformation selectEI(Integer id);-->
    <select id="selectEI" resultType="com.youdaoxsj.backstage.information.bean.ExtendInformation">
        select * from zbq_extend_information where device_id = #{id}
    </select>

    <!--List<ZbqDevice> searchDriverByzbq(@Param("zz") ZbqDevice zbqDevice,@Param("sortName") String sortName,@Param("sortPage") Integer sortPage,@Param("num") int num);-->
    <select id="searchDriverByzbq" resultType="com.youdaoxsj.backstage.information.bean.ZbqDevice">
        SELECT *
        FROM zbq_device
        <where>
            status = 1
            <if test="zz.driverName != null ">
                and driver_name LIKE #{zz.driverName}
            </if>
            <if test="zz.mobile != null ">
                and mobile LIKE #{zz.mobile}
            </if>
            <if test="zz.carNumber != null ">
                AND car_number LIKE #{zz.carNumber}
            </if>
        </where>
        <choose>
            <when test="sortName != null and sortName == 'online_time_asc' ">
                order by online_time asc
            </when>
            <when test="sortName != null and sortName == 'online_time_desc' ">
                order by online_time desc
            </when>
            <when test="sortName != null and sortName == 'last_report_time_asc' ">
                order by last_report_time asc
            </when>
            <when test="sortName != null and sortName == 'last_report_time_desc' ">
                order by last_report_time desc
            </when>
            <when test="sortName != null and sortName == 'record_time_asc'">
                order by record_time asc
            </when>
            <when test="sortName != null and sortName == 'record_time_desc'">
                order by record_time desc
            </when>
            <otherwise>
                order by last_report_time asc
            </otherwise>
        </choose>
        <if test="sortName != null and num != null">
            limit #{sortPage},#{num}
        </if>
    </select>

    <!--List<ExtendInformation> selectExtendInformation();-->
    <select id="selectExtendInformation" resultType="com.youdaoxsj.backstage.information.bean.ExtendInformation">
      select * from zbq_extend_information
    </select>


    <!--List<ZbqDevice> selectOnLineTime(Integer integer);-->
    <select id="selectOnLineTime" resultType="com.youdaoxsj.backstage.information.bean.ZbqReport">
        select device_id,driver_name,sum(online_time) as online_time from zbq_report where record_time > #{integer} group by device_id
    </select>


    <!-- nteger updateZbqDevice(Integer deviceId);-->
    <update id="updateZbqDevice">
        update zbq_device set online_time = #{onlineTime} where id = #{deviceId}
    </update>


    <!--  List<ZbqDevice> selectDevices(@Param("sortName") String name,@Param("sortPage") Integer page,@Param("sortType") String sortType,@Param("num") int i);  -->
    <select id="selectDevices" resultType="com.youdaoxsj.backstage.information.bean.ZbqDevice">
        select * from zbq_device z where status = 1
        <choose>
            <when test="sortName != null and sortName == 'online_time_asc' ">
                order by online_time asc
            </when>
            <when test="sortName != null and sortName == 'online_time_desc' ">
                order by online_time desc
            </when>
            <when test="sortName != null and sortName == 'last_report_time_asc' ">
                order by last_report_time asc
            </when>
            <when test="sortName != null and sortName == 'last_report_time_desc' ">
                order by last_report_time desc
            </when>
            <when test="sortName != null and sortName == 'record_time_asc'">
                order by record_time asc
            </when>
            <when test="sortName != null and sortName == 'record_time_desc'">
                order by record_time desc
            </when>
            <otherwise>
                order by last_report_time asc
            </otherwise>
        </choose>
        <if test="sortName != null and num != null">
            limit #{sortPage},#{num}
        </if>
    </select>

    <!--     Integer selectConutZbqDevice();-->
    <select id="selectConutZbqDevice" resultType="java.lang.Integer">
        select count(*)  from zbq_device where status = 1
    </select>

    <!--  nteger getSearchLSize(ZbqDevice zbqDevice);  -->
    <select id="getSearchLSize" resultType="java.lang.Integer">
        SELECT count(*) FROM zbq_device
        <where>
            status = 1
            <if test="zz.driverName != null ">
                and driver_name LIKE #{zz.driverName}
            </if>
            <if test="zz.mobile != null ">
                and mobile LIKE #{zz.mobile}
            </if>
            <if test="zz.carNumber != null ">
                AND car_number LIKE #{zz.carNumber}
            </if>
        </where>
    </select>
    <!--    Integer getCountDriverByCarNum(String carNum);-->
    <select id="getCountDriverByCarNum" resultType="java.lang.Integer">
        select count(*) from zbq_device where car_number = #{carNum};
    </select>
    <!--  List<ZbqDevice> getDriverByCarNum(String carNum); -->
    <select id="getDriverByCarNum" resultType="com.youdaoxsj.backstage.information.bean.ZbqDevice">
        select * from zbq_device where car_number = #{carNum};
    </select>
</mapper>
